.yellow {
    color: yellow;
}

.white {
    color: white;
}

.blue {
    color: hwb(240 28% 16%);
}

.grey {
    color: rgba(235, 235, 235, 0.64);
}

.purple {
    color: purple;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.bgorange {
    background-color: orange;
}

.bgred {
    background-color: red;
}

.bgpurple {
    background-color: purple;
}

.bgblue {
    background-color: hwb(240 28% 16%);
}

.bgblack {
    background-color: black;
}

.bgblackmute {
    background-color: rgb(14, 17, 22);
}

.bggrey {
    background-color: rgba(60, 60, 60, 0.66);
}

.bgwhite {
    background-color: white;
}

.bdbrown {
    border: 1px solid brown;
}

.bdred {
    border: 1px solid red;
}

.bdblue {
    border: 1px solid hwb(240 28% 16%);
}

.bdorange {
    border: 1px solid orange;
}