@import "./base.css";
@import "./size.css";
@import "./color.css";

#app {
  font-weight: normal;
  width: 100%;
}

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.center {
  display: block;
  margin: auto;
  text-align: center;
}

.title-wrapper {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  color: white;
  margin-bottom: 50px;
}

.title-icon {
  margin: 0px 10px 0px 10px;
  margin-bottom: 50px;
}

.wrapper {
  padding: 100px 5% 100px 5%;
  width: 100%;
  min-height: 101vh;
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.clickable {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.bold {
  font-weight: bold;
}
