@import "./base.css";

#app {
  font-weight: normal;
  width: 100%;
}

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.center {
  display: block;
  margin: auto;
  text-align: center;
}

.title-wrapper {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 2rem;
  color: white;
  margin-bottom: 50px;
}

.title-icon {
  height: 5rem;
  width: auto;
  margin: 0px 10px 0px 10px;
  border-radius: 50%;
  margin-bottom: 50px;
}

.wrapper {
  padding: 30px 0px 100px 0px;
  width: 100%;
  min-height: 300px;
  text-align: center;
}

.black-background {
  background-color: black;
}

::-webkit-scrollbar {
  display: none;
}

.full {
  height: 100vh;
  width: 100%;
}