.xxl{
    font-size: calc(2.0vw + 17px);
}

.xl {
    font-size: calc(1.5vw + 15px);
}

.l {
    font-size: calc(1.0vw + 12px);
}

.m {
    font-size: calc(0.8vw + 10px);
}

.s {
    font-size: calc(0.6vw + 8px);
}

.hxxl {
    height: calc(10vw + 80px);;
}

.wxxl {
    width: calc(10vw + 80px);
}

.wxl {
    width: calc(4vw + 20px);
}

.wl {
    width: calc(2.5vw + 15px);
}

.wm {
    width: calc(1.5vw + 8px);
}

.ws {
    width: calc(1vw + 3px);
}
